# See git-shortlog(1) section MAPPING AUTHORS
#
# Fix names and email addresses

Andreas Olofsson <andreas@adapteva.com>
Konstantinos Agiannis <www.kostantinaras@yahoo.gr>
<ola@adapteva.com> <ola.jeppsson@gmail.com>
David Flicker <dtflicker@gmail.com>

